<mat-card>
    <mat-card-header>
        <mat-card-title>{{ heroe.superhero }}</mat-card-title>
        <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
        <span class="spacer"></span>
        <button [routerLink]="['/heroes/editar',heroe.id]" mat-button color="info">Editar</button>
    </mat-card-header>
    <img mat-card-image [src]="heroe | imagen">
    <mat-card-content>
        <h3>{{ heroe.publisher}}</h3>
        <strong>Primera aparición: </strong>{{heroe.first_appearance}}
        <br>
        <strong>Personajes: </strong> {{heroe.characters}}
    </mat-card-content>
    <mat-card-actions>
        <button [routerLink]="['/heroes',heroe.id]" mat-button color="warn">Leer mas...</button>
    </mat-card-actions>
  </mat-card>
